<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @loan.value %>
</p>

<p>
  <strong>Date:</strong>
  <%= @loan.date %>
</p>

<p>
  <strong>Taker:</strong>
  <%= @loan.taker_id %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @loan.provider_id %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
